[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	email = editme@marigold.dev
	name = Edit Me
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
